.grid-container-main {
    display: grid;
    grid-gap: 5%;
    grid-template-columns: repeat(4, 1fr); /* 4 columns for the stair-like structure */
    
    justify-items: center;
}

/* Styling the images */
.grid-img {
    max-width: 100%;
    object-fit: contain;
}

/* First image starts at the top and spans two rows */
.grid-item-1 {
    grid-column: span 1; /* Spanning 1 column to create the first step */
    grid-row: span 1; /* Spanning 2 rows for a larger stair effect */
}

/* The next images cascade in, taking up 1 column but stacked */
.grid-item-2 {
    grid-column: 2 / span 1; /* Second step */
    grid-row: span 1;
}

/* Third image cascades to the right */
.grid-item-4 {
    grid-column: 3 / span 1; /* Third step */
    grid-row: span 1;
}

/* Fourth item at the bottom, last stair */
.grid-item-5 {
    grid-column: 4 / span 1; /* Fourth step */
    grid-row: span 2;
}
.grid-img-div{
    background: linear-gradient(0deg, #1C1C1C, #1C1C1C),
linear-gradient(357.15deg, rgba(0, 0, 0, 0.2) -0.04%, rgba(102, 102, 102, 0.2) 99.5%);

position: relative;

}



.grid-img-div:hover{
    background: linear-gradient(0deg, #1C1C1C, #1C1C1C),
linear-gradient(357.15deg, rgba(0, 0, 0, 0.2) -0.04%, rgba(102, 102, 102, 0.2) 99.5%);

    transition: 0.4s;
    transform: scale(1.1);
    opacity: 0.4;

}
.grid-text{
    /* font-size: 25px; */
    /* position: absolute; */
    bottom: 10px;
    /* opacity: 1; */

    font-weight: 900;
  position: absolute;
  bottom: 25px;
  font-size: 30px;
  padding: 10px;
}