* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* heqder css */

.header-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ea2127;
}

.logo {
  height: 50px;
  width: 50px;
}
.menu-logo {
  height: 20px;
  width: 20px;
  margin-right: 30px;
  cursor: pointer;
}
.logo-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #fff;
  font-size: 45px;
}
.logo-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
  cursor: pointer;
}

/* MAIN CONTAINER */

/* .img-main-div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
} */

.home-img-div {
  width: 200px;
  text-align: center;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
}

.home-img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;

}

.product-name-price-div {
  margin-top: 10px;
}


.home {
  background-color: #ea2127;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}




.img-text {
  color: #fff;
}

.home-large-text {
  color: #fff;
  font-weight: 400;
  font-size: 60px;
  position: absolute;
  top: 115px;
  font-family: act of rejection;
  opacity: 0.5;
  /* z-index: -1; */
}

/* section-2  starts*/

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.gray-bg {
  padding: 40px;
  background-color: #f6f5f5;
}

.product-img-div {
  background-color: #fff;
  padding: 10px;
  border-radius: 12px;
  margin: 10px;
}
.title-1 {
  /* color: black; */
  /* font-size: 70px;
  padding: 20px;
  text-align: start; */

  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #000;
  font-size: 45px;
  text-align: start;
  padding: 20px;

  /* margin-right: 305px; */
}
.title-2{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 35px;
  text-align: start;
  padding: 20px;

  /* margin-right: 305px; */
}

.title-3{
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 45px;
  text-align: start;
  /* padding: 20px; */
color: #ea2127  ;

  /* margin-right: 305px; */
}

.water-text{
  color: #fff;
  text-shadow: -1px 1px 0 #000,
  1px 1px 0 #000,
  1px -1px 0 #000,
  -1px -1px 0 #000;
}
.text-black {
  color: black;
}

.text-white {
  color: #fff;
}

.text-red {
  color: red;
}
.product-img {
  height: 250px;
  width: 250px;
  object-fit: contain;
  border-radius: 12px;
}

/* SECTION-3 STARTS */

.black-bg {
  background-color: black;
  /* padding: 180px 180px 0px 180px; */
}

.signature-img {
  height: 500px;
  width: 500px;
  object-fit: contain;
  margin-top: -200px;
}

.shop-btn {
  border: none;
  padding: 10px;
  margin-left: 25px;
}
.book-img {
  height: 250px;
  width: 250px;
  object-fit: contain;
}

.flex-row-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 100px;
}

/* SECCTION-4 STARTS */

.section-4-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 80px;
  background: linear-gradient(90deg, #ec3339 0%, #bb1117 100%);
  position: relative;
}

.white-para-text {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 35px;
  text-align: start;
  padding: 20px;

}
.person-img {
  height: 300px;
  width: 300px;
  object-fit: contain;
  position: absolute;
  top: -65px;
  right: 0;
}


/* section 7 starts */
.purple-gold-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.purple-gold-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 600px) {
  .header-main {
    width: 100%;
    padding-top: 10px;
  }

  .logo-text {
    font-weight: 800;
    font-size: 25px;
  }
  .logo {
    height: 30px;
    width: 30px;
  }
  .home {
    padding: 100px;
  }
  .home-img-div {
    padding: 25px;
  }
  .img-main-div {
    flex-direction: column;
   margin-right: 40px;
  }

  .home-large-text {
    /* color: #fff; */
    /* font-weight: 900; */
    font-size: 35px;
    position: absolute;
    top: 60px;
    text-align: center;
  }

  .flex-row {
    flex-direction: column;
  }

  .title-1 {
    /* color: black; */
    font-size: 20px;
    /* width: 50%; */
    /* padding: 20px; */
    /* text-align: left; */
    text-align: center;

    margin-right: 35px;
  }

  .title-2{
   
    font-size: 20px;
    text-align: center;
    /* padding: 20px; */
  
    /* margin-right: 305px; */
  }

  .title-3{
   
    font-size: 30px;
    text-align: center;
    /* padding: 20px; */
  
    /* margin-right: 305px; */
  }


  
.white-para-text {

  font-size: 25px;
  text-align: center;
 margin-top: 180px;
 padding: 0;
 /* width: 250px; */
  /* padding: 20px; */

}



  .flex-row-1 {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .signature-img {
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* margin-left: -130px; */
  }

  .black-bg {
    padding: 0px;
  }

  .product-img {
    width: 100%;
  }

  .shop-div-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-4-container {
    justify-content: center;
    flex-direction: column;
  }

  
}

@media (min-width: 768px) {
  .header-main {
    width: 100%;
    padding: 20px;
  }

  .img-main-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
  gap: 10px;
  }

  .img-wrapper{
    max-width: 100%;
    
  }
  .flex-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .flex-row-1 {
    flex-direction: column;
    justify-content: center;
  }

  .title-1 {
    font-size: 40px;
  }

  .white-para-text {

    font-size: 25px;
    text-align: left;
   margin-right: 180px;
   padding: 0;
   
    
  
  }

  .two-book {
    display: flex;
    flex-direction: row;
  }
  
}

@media (min-width: 992px) {
  .header-main {
    /* flex-direction: column; */
    width: 100%;
    padding: 20px;
  }

  .product-img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 12px;
  }

  .home-img {
    /* height: 457px; */
    /* width: 300px; */
    width: 250px;
    height: 200px;
  }
  .img-main-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* gap: 10px; */
    position: relative;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .shop-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
  }
  .book-img {
    height: 200px;
    width: 200px;
  }
  .two-book {
    display: flex;
    flex-direction: row;
  }

  /* .shop-btn{
        
        margin-left: 95px;
    } */
}

@media (min-width: 1200px) {
  .header-main {
    /* flex-direction: column; */
    width: 100%;
    padding: 20px;
  }

  .black-bg {
    padding: 80px;
  }

  .img-main-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    /* padding: auto; */
    /* padding-bottom: 100px; */
  }
  .flex-row-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
  }
}
