* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* heqder css */

.header-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ea2127;
}

.logo {
  height: 50px;
  width: 50px;
}
.menu-logo {
  height: 20px;
  width: 20px;
  margin-right: 30px;
  cursor: pointer;
}
.logo-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #fff;
  font-size: 45px;
}
.logo-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
  cursor: pointer;
}

/* MAIN CONTAINER */

/* .img-main-div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
} */

.home-img-div {
  width: 200px;
  text-align: center;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
}

.home-img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;

}

.home-img-div:hover,.product-img-div:hover,.purple-gold-right-img:hover{
transform: scaleY(1.2);
cursor: pointer;
}

.product-name-price-div {
  margin-top: 10px;
}


.home {
  background-color: #ea2127;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}




.img-text {
  color: #fff;
}

.img-text-black{
  color: #000;

}
.home-large-text {
  color: #fff;
  font-weight: 400;
  font-size: 60px;
  position: absolute;
  top: 115px;
  font-family: act of rejection;
  opacity: 0.5;
  /* z-index: -1; */
}

/* section-2  starts*/

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.gray-bg {
  padding: 40px;
  background-color: #f6f5f5;
}

.product-img-div {
  background-color: #fff;
  padding: 10px;
  border-radius: 12px;
  margin: 10px;
}
.title-1 {
  /* color: black; */
  /* font-size: 70px;
  padding: 20px;
  text-align: start; */

  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #000;
  font-size: 45px;
  text-align: start;
  padding: 20px;

  /* margin-right: 305px; */
}
.title-2{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 35px;
  text-align: start;
  padding: 20px;

  /* margin-right: 305px; */
}

.title-3{
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 45px;
  text-align: start;
  /* padding: 20px; */
color: #ea2127  ;

  /* margin-right: 305px; */
}

.title-4{
  font-family: act of rejection;
  font-weight: 400;
  font-size: 45px;
  text-align: start;
  /* padding: 20px; */
color: #000  ;

  /* margin-right: 305px; */
}

.title-product{
  
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #000;
  font-size: 45px;
  text-align: center;
  padding: 20px;
  text-transform: uppercase;

  /* margin-right: 305px; */
}

.water-text{
  color: #fff;
  text-shadow: -1px 1px 0 #000,
  1px 1px 0 #000,
  1px -1px 0 #000,
  -1px -1px 0 #000;
}
.text-black {
  color: black;
}

.text-white {
  color: #fff;
}

.text-red {
  color: red;
}
.product-img {
  height: 250px;
  width: 250px;
  object-fit: contain;
  border-radius: 12px;
}

/* SECTION-3 STARTS */

.black-bg {
  background-color: black;
  /* padding: 180px 180px 0px 180px; */
}

.signature-img {
  height: 500px;
  width: 500px;
  object-fit: contain;
  margin-top: -200px;
}

.shop-btn {
  border: none;
  padding: 10px;
  margin-left: 25px;
}
.book-img {
  height: 250px;
  width: 250px;
  object-fit: contain;
}

.flex-row-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 100px;
}

/* SECCTION-4 STARTS */

.section-4-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 80px;
  background: linear-gradient(90deg, #ec3339 0%, #bb1117 100%);
  position: relative;
}

.white-para-text {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 35px;
  text-align: start;
  padding: 20px;

}
.person-img {
  height: 300px;
  width: 300px;
  object-fit: contain;
  position: absolute;
  top: -65px;
  right: 0;
}


/* section 7 starts */
.purple-gold-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}

.purle-golden-text{
  font-family: "Montserrat", sans-serif;

  font-size: 20px;
  font-style: italic;
}
.purple-text{
  font-weight: 600;
  color: #7F1BCD;
  /* font-size: 20px */
}
.gold-text{
  /* font-family: "Montserrat", sans-serif; */
  font-weight: 700;
  color: #E0A408;
  /* font-size: 20px */
}

.water-text-2{
  color: #fff;
  text-shadow: -1px 1px 0 #000,
  1px 1px 0 #000,
  1px -1px 0 #000,
  -1px -1px 0 #000;
}
.purple-gold-img-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    width:60%;
}

/* section purlple and gold */

.purple-gold-right-img{
  height: 250px;
  width: 250px;
  padding: 10px;
}

.purple-img{
  width: 100%;
  height: 100%;
  border-radius: 12px;
  /* margin: 10px; */

  /* padding: 10px; */
}


/* section - 8 starts */
.relative-position{
  position: relative;
}
.title-5{
  font-weight: 400;
  font-size: 60px;
  position: absolute;
  top: 50px;
  left: 400px;
  font-family: act of rejection;
  text-align: center;
  z-index: 1;
  /* opacity: 0.5; */
}
.span-text{
  font-size: 20px;
}
.section-8-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cover-img{
  /* height: 350px;
  width: 350px; */
  object-fit: contain;
  width: 50%;
}

.paragraph-div{
  padding: 30px;
  /* width: 50%; */
}
.single-paragraph-div{
  padding: 20px;
  
}
.play-img{
  position: absolute;
  bottom: 0;
  /* top: 20px; */
  right: -20px;
  width: 200px;
  height: 250px;
  object-fit: contain;
  padding: 20px;
  /* width: 20%; */
}

/* section grid starts */
.grid-img{
  height: 200px;
  width: 200px;
  object-fit: contain;
}
/* .grid-img-container{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.grid-img-container:nth-child(1) {
  grid-column: 1/ span 7;
    grid-row: 1 / span 8;
}

.grid-img-container:nth-child(2) {
  grid-column: span 2;
  grid-row: span 2;
}
.two-img{
  grid-column: span 2;
  grid-row: span 1;

} */
.bg-off-white{
  background: #F6F5F5;

}
.cart-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}
.cart-img-div{
  background: #fff;
  width: 80px;
  /* height: 80px; */
  margin: 10px;
  /* padding: 15px; */
}

.cart-img{
  width: 100%;
  /* height: 60px; */
  object-fit: contain;
  padding: 0px;
}
.cart-desc-div{
  width: 50%;
  padding: 15px;
} 
.cart-hero-img-div{
  /* background: #fff;
  padding: 20px;
  border-radius: 12px; */

  background: #fff;
  width: 350px;
  /* height: 300px; */
  padding: 15px;
  border-radius: 12px;

}
.cart-hero-img{
  width: 100%;
  /* height: 200px; */
  object-fit: contain;
  border-radius: 12px;
  /* background: #fff; */

}
.cart-desc-1{
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 500;
}
.cart-desc-2{
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding-top: 15px;
  padding-bottom: 15px;
}

.cart-desc-3{
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding-top: 15px;
  padding-bottom: 15px;
}
.cart-price{
  color: #EA2127;
}

/* section-10 starts */

.bg-red{
  background: linear-gradient(90deg, #EC3339 0%, #BB1117 100%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}
.service-div{
  margin: 30px;
}

/* footer section stars */
.footer-container{
  background: #000;
  padding: 40px;
}
.footer-logo-div{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.footer-list-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer-btn-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.payment-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.footer-list-div-1{
  width: 30%;
}
.footer-btn{
  width: 100%;
  padding: 6px;
  margin: 5px;
  cursor: pointer;
}
@media (max-width: 600px) {
  .header-main {
    width: 100%;
    padding-top: 10px;
  }

  .logo-text {
    font-weight: 800;
    font-size: 25px;
  }
  .logo {
    height: 30px;
    width: 30px;
  }
  .home {
    padding: 100px;
  }
  .home-img-div {
    padding: 25px;
  }
  .img-main-div {
    flex-direction: column;
   margin-right: 40px;
  }

  .home-large-text {
    /* color: #fff; */
    /* font-weight: 900; */
    font-size: 35px;
    position: absolute;
    top: 60px;
    text-align: center;
  }

  .flex-row {
    flex-direction: column;
  }

  .title-1 {
    /* color: black; */
    font-size: 20px;
    /* width: 50%; */
    /* padding: 20px; */
    /* text-align: left; */
    text-align: center;

    margin-right: 35px;
  }

  .title-2{
   
    font-size: 20px;
    text-align: center;
    /* padding: 20px; */
  
    /* margin-right: 305px; */
  }

  .title-3{
   
    font-size: 30px;
    text-align: center;
    /* padding: 20px; */
  
    /* margin-right: 305px; */
  }


  
.white-para-text {

  font-size: 25px;
  text-align: center;
 margin-top: 180px;
 padding: 0;
 /* width: 250px; */
  /* padding: 20px; */

}



  .flex-row-1 {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .signature-img {
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* margin-left: -130px; */
  }

  .black-bg {
    padding: 0px;
  }

  .product-img {
    width: 100%;
  }

  .shop-div-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-4-container {
    justify-content: center;
    flex-direction: column;
  }

  .purple-gold-container{
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* padding: 80px; */
}

.purple-gold-img-section{
  /* display: flex; */
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* gap: 10px; */
  /* width:60%; */
}
  
.section-8-div{
  
  flex-direction: column;
  width: 100%;
}


.play-img{
  position: absolute;
  /* bottom: 0; */
  /* top: 20px; */
  /* right: -20px; */
  width: 150px;
  height: 150px;
  /* object-fit: contain; */
  /* padding: 20px; */
  /* width: 20%; */
}

.relative-position{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cart-container{
  flex-direction: column;
  
}

.cart-img-div{
  /* background: #fff; */
  width: 40px;
  /* margin: 0 auto; */
  /* height: 80px; */
  /* margin: 10px; */
  /* padding: 15px; */
}
.cart-hero-img-div{
  /* background: #fff;
  padding: 20px;
  border-radius: 12px; */

  /* background: #fff; */
  width: 250px;
  /* height: 300px; */
  /* padding: 15px; */
  /* border-radius: 12px; */

}
.cart-desc-div{
  margin: 0 auto;
}
.bg-red{
  flex-direction: column;
  /* justify-content: space- ; */
}
}


@media (min-width: 768px) {
  .header-main {
    width: 100%;
    padding: 20px;
  }

  .img-main-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
  gap: 10px;
  }

  .img-wrapper{
    max-width: 100%;
    
  }
  .flex-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .flex-row-1 {
    flex-direction: column;
    justify-content: center;
  }

  .title-1 {
    font-size: 40px;
  }

  .white-para-text {

    font-size: 25px;
    text-align: left;
   margin-right: 180px;
   padding: 0;
   
    
  
  }

  .two-book {
    display: flex;
    flex-direction: row;
  }
  
}

@media (min-width: 992px) {
  .header-main {
    /* flex-direction: column; */
    width: 100%;
    padding: 20px;
  }

  .product-img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 12px;
  }

  .home-img {
    /* height: 457px; */
    /* width: 300px; */
    width: 250px;
    height: 200px;
  }
  .img-main-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* gap: 10px; */
    position: relative;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .shop-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
  }
  .book-img {
    height: 200px;
    width: 200px;
  }
  .two-book {
    display: flex;
    flex-direction: row;
  }

  /* .shop-btn{
        
        margin-left: 95px;
    } */
}

@media (min-width: 1200px) {
  .header-main {
    /* flex-direction: column; */
    width: 100%;
    padding: 20px;
  }

  .black-bg {
    padding: 80px;
  }

  .img-main-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    /* padding: auto; */
    /* padding-bottom: 100px; */
  }
  .flex-row-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
  }
}
